*{
	padding: 0;
	margin: 0;
	font-size: 10px;
	font-family: Arial;
}
.hgroup{
	display: -webkit-box;
	-webkit-box-orient: horizontal;
}
.vgroup{
	display: -webkit-box;
	-webkit-box-orient: vertical;
}
.cgroup{
	display: -webkit-box;
	-webkit-box-align: center;
	-webkit-box-pack: center;
}
.spacer{
	-webkit-box-flex: 1;
}
.bold{
	font-weight: bold;
}

#socketGroups{

}
.socket{
	border-bottom: dashed 1px #CCC;
}
.socket:last-child{
	border-bottom: none;
}
.socket > header{
	padding: 10px;
	width: 80px;
	border-right: dashed 1px #CCC;
}
.conns{
	padding: 10px;
}
.conn{
	padding: 6px;
	margin: 0;
	border: 1px solid #CCC;
	-webkit-border-radius: 6px;
	cursor: pointer;
}
.conn.min{
	border: none;
	padding: 0;
}
.conn > .info{

}
.conn.min > .info{
	display: none;
}
.conn > .info > .name{
	font-size: 12px;
	font-weight: bold;
}
.conn > .info > .host{
	color: #999;
}
.conn > .info > .detail{
	color: #999;
}
.conn > .time{
	margin-top: 5px;
	min-width: 1px;
	height: 10px;
	border: 1px solid #000;
	background-color: #FF0;
	overflow: hidden;
}
.conn > .time > .wait{
	min-width: 1px;
	height: 10px;
	background-color: #F00;
}